.container {
  background-color: var(--main-bg-color);
  text-align: center;
  padding: 10px 0;
}

.social-links i {
  padding: 10px;
}

.links li {
  padding: 10px;
}

img {
  height: 88vh;
}

.copy {
  padding: 10px;
}
