.container {
  background-color: var(--main-bg-color);
  text-align: center;
  padding: 1vw 0;
}

.social-links i {
  padding: 1vw;
  font-size: 1.5rem;
}

.links li {
  padding: 1vw;
}

.copy {
  padding: 0.5vw;
}

@media (max-width: 844px) {
  a {
    font-size: var(--txt-font-size);
  }
}
