<main>
    <div class="title"><h1>── Contact us</h1></div>
  <section>
    <span>Have any queries?</span>
    <h1>We're here to help.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis culpa
      hic nam provident praesentium labore consequatur at
    </p>
  </section>
  <section class="contact-info">
    <div>
      <h2>SALES</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span>+57 300 002 00 00</span>
    </div>
    <div>
        <h2>COMPLAINTS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <span>+57 300 002 00 00</span>
    </div>
    <div>
        <h2>RETURNS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <span>+57 300 002 00 00</span>
    </div>
  </section>
</main>

