main {
    max-width: 800px;
    margin: 68px auto 0 auto;
    align-content: center;
    padding: 5% 0;
}

h1 {
    font-size: var(--titles-font-size);
}

h3 {
    font-size: var(--txt-font-size);
}

p, span, input {
    font-size: var(--txt-font-size);
}

.user-info {
    display: flex;
    margin-top: 2vw;
}

.user-info button {
    padding: 1vw;
}

button {
    background-color: white;
    padding: 0.5vw;
    border: 1px solid #e6e6e6;
    font-size: var(--txt-font-size);
    cursor: pointer;
}

.personal-info, .addresses-info, .my-orders-info, .payment-info, .edit-personal-info, .edit-addresses, .edit-payment-info {
    padding-top: 2vw;
}

.title {
    display: flex;
    justify-content: space-between;
}

button:hover {
    background-color: #f3f4f6;;
}

.card-list {
    margin-top: 0.5vw;
    border: 1px solid #e6e6e6;
    padding: 1vw;
}

.card-info {
    display: flex;
    padding: 5px;
    align-items: center;
}

.card-info span, h3 {
    padding-right: 10px;
}

.document {
    padding-left: 30px;
}

.card {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0;
}

.card-info button {
    align-items: flex-end;
}

.address-edit, .payment-edit {
    display: flex;
    justify-content: space-between;
}

.order-info {
    display: flex;
    justify-content: space-between;
}

.order-summary h3 {
    color: #F56476;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5px;
    text-align: center;
}

fieldset {
    border: none;
}

input, #document-type {
    width: 100%;
    min-height: 2em;
    margin: 5px 0 5px 10px;
    padding: 5px;
    border: 1px solid #cacaca;
}

#document-type, #good-thru {
    width: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.delete {
    margin-left: 15px;
}

@media (max-width: 844px) {
    main {
        max-width: 400px;
    }
}

@media (max-width: 620px) {
    main {
        max-width: 350px;
    }
    
}