<main>
  <section>
    <div><h1>── My account</h1></div>
    <div class="user-info">
      <button>Personal Information</button>
      <button>Addresses</button>
      <button>Payment Methods</button>
      <button>My Orders</button>
    </div>
  </section>
  <section class="personal-info">
    <div class="title">
      <h2>Personal Information</h2>
      <button>Edit</button>
    </div>
    <div class="card-list">
      <div class="card-info">
        <span>Name: </span>
        <p>Juliana</p>
      </div>
      <div class="card-info">
        <span>Lastname: </span>
        <p>Cardona</p>
      </div>
      <div class="card-info">
        <span>Email: </span>
        <p>julicardo&#64;gmail.com</p>
      </div>
      <div class="card-info">
        <span>Document: </span>
        <p>100000000</p>
        <span class="document">Document type: </span>
        <p>CC</p>
      </div>
      <div class="card-info">
        <span>Cellphone: </span>
        <p>+57 300 02 00 00</p>
      </div>
    </div>
  </section>

  <section class="addresses-info">
    <div class="title">
      <h2>Addresses</h2>
    </div>
    <div class="card-list">
      <div class="card">
        <div class="address-edit">
          <div class="card-info">
            <span>Address: </span>
            <p>Calle 61 #23-20</p>
          </div>
          <div><button>Edit</button></div>
        </div>
        <div class="card-info">
          <span>Complement: </span>
          <p>
            Lorem ipsum dolor sit amet consectetur Repellendus beatae autem aut
            ut aliqui
          </p>
        </div>
        <div class="card-info">
          <span>City: </span>
          <p>Manizales</p>
        </div>
        <div class="card-info">
          <span>State: </span>
          <p>Caldas</p>
        </div>
      </div>
    </div>
  </section>

  <section class="my-orders-info">
    <div class="title">
      <h2>My Orders</h2>
    </div>
    <div class="card-list">
      <div class="card">
        <div class="order-info">
          <div>
            <div class="card-info">
              <h3>Order ID:</h3>
              <p>123156486531as</p>
            </div>
            <div class="card-info">
              <span>Placed on:</span>
              <p>date / 01 jun 2024</p>
            </div>
          </div>
          <div>
            <button>View products</button>
          </div>
        </div>
        <div class="order-summary">
          <div>
            <h3>STATUS OF THE ORDER</h3>
          </div>
          <div>
            <span>You paid:</span>
            <p>$54653 (TOTAL ORDER)</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="order-info">
          <div>
            <div class="card-info">
              <h3>Order ID:</h3>
              <p>123156486531as</p>
            </div>
            <div class="card-info">
              <span>Placed on:</span>
              <p>date / 01 jun 2024</p>
            </div>
          </div>
          <div>
            <button>View products</button>
          </div>
        </div>
        <div class="order-summary">
          <div>
            <h3>STATUS OF THE ORDER</h3>
          </div>
          <div>
            <span>You paid:</span>
            <p>$54653 (TOTAL ORDER)</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
