<app-header></app-header>
<main>
  <section>
    <div><h1>── My account</h1></div>
    <div class="user-info">
      <button>Personal Information</button>
      <button>Addresses</button>
      <button>Payment Methods</button>
      <button>My Orders</button>
    </div>
  </section>
  <section class="personal-info">
    <div class="title">
      <h2>Personal Information</h2>
      <button>Edit</button>
    </div>
    <div class="card-list">
      <div class="card-info">
        <span>Name:</span>
        <p>Juliana</p>
      </div>
      <div class="card-info">
        <span>Lastname:</span>
        <p>Cardona</p>
      </div>
      <div class="card-info">
        <span>Email:</span>
        <p>julicardo&#64;gmail.com</p>
      </div>
      <div class="card-info">
        <span>Document:</span>
        <p>100000000</p>
        <span class="document">Document type:</span>
        <p>CC</p>
      </div>
      <div class="card-info">
        <span>Cellphone</span>
        <p>+57 300 02 00 00</p>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
