main {
  max-width: 1200px;
  margin: 0 auto;
}

.product-detail {
  display: flex;
  margin-top: 80px;
  justify-content: space-evenly;
}

.product-gallery {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  align-content: center;
}

.principal-image img {
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.product-summary {
  border-bottom: 1px solid var(--main-txt-color);
  margin-bottom: 2vw;
}

.product-gallery-other-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
}

.product-gallery-other-images img {
  width: 5vw;
}

.product-parameters {
  width: 35%;
  margin-top: 3vw;
}

.product-summary h1 {
  font-size: 4vw;
  margin: 2vw 0;
}

.product-summary p {
  margin: 2vw 0;
}

p,
.price, a {
  font-size: 1.3vw;
}

.price {
  font-size: 1.8vw;
  font-family: "Outfit", sans-serif;;
}

.cart {
  display: flex;
  height: auto;
  margin: 1vw 0;
  border-bottom: 1px solid var(--main-txt-color);
  padding-bottom: 2vw;
}

.cart input {
  padding-left: 15px;
  margin-right: 10px;
  width: 50px;
}

.cart button {
  padding: 0.8vw;
  background-color: var(--main-txt-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2vw;
}

.product-tags {
  display: flex;
  gap: 10px;
}

.product-tags p {
  font-size: 1vw;
}

.product-description {
  border-top: 1px solid var(--main-txt-color);
  margin-top: 8vw;
  color: var(--main-txt-color);
}

.product-description h1 {
  padding-top: 2vw;
  padding-bottom: 2.5vw;
  font-size: 2.8vw;
}

.product-description p {
    padding-bottom: 4.5vw;
}

.related-product-title {
    border-top: 1px solid var(--main-txt-color);
    padding-top: 40px;
}

.related-product-title h1 {
    font-size: 2.8vw;
}

@media (max-width: 1050px) {
  main {
    max-width: 900px;
  }
  .product-gallery {
    justify-content: center;
  }
}

@media (max-width: 844px) {
  main {
    max-width: 700px;
  }
  .product-detail {
    flex-direction: column;
  }
  .product-parameters {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 620px) {
  main {
    max-width: 350px;
  }
  .cart input {
    width: 40px;
    font-size: 1.2vw;
  }
}
