<app-header></app-header>
<main>
  <section class="product-detail">
    <div class="product-gallery">
      <div class="principal-image">
        <img src="/assets/images/CHEDT1.png" alt="" />
      </div>
      <div class="product-gallery-other-images">
        <img src="/assets/images/CHEDT1.png" alt="" />
        <img src="/assets/images/CHEDT1.png" alt="" />
        <img src="/assets/images/CHEDT1.png" alt="" />
        <img src="/assets/images/CHEDT1.png" alt="" />
      </div>
    </div>
    <div class="product-parameters">
      <div class="product-summary">
        <h1>Title</h1>
        <a><i class="fa-regular fa-star"></i>No ratings</a>
        <p>
          Ad Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
          corrupti reprehenderit excepturi sunt, velit delectus harum doloremque
          dolor quasi ipsa, doloribus repellendus voluptate, minus
          necessitatibus. Maxime temporibus harum hic ab.
        </p>
      </div>
      <div class="price"><span>$450.000</span></div>
      <div class="cart">
        <input
          type="number"
          name="product-quantity"
          id="product-quantity"
          value="1"
          min="1"
          max="5"
        />
        <button type="button" class="add-to-cart">Add to cart</button>
      </div>
      <div class="product-tags">
        <div><p>SKU: PRODUCT SKU</p></div>
        <div><p>Category: Product category</p></div>
      </div>
    </div>
  </section>
  <section>
    <div class="product-description">
      <h1>Description</h1>
      <p>
        ad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam
        reprehenderit mollitia obcaecati iste exercitationem, cum eligendi
        commodi architecto incidunt at perspiciatis temporibus nobis facilis
        laborum maxime modi sit dignissimos culpa ipsum Lorem ipsum dolor sit
        amet consectetur, adipisicing elit. Necessitatibus excepturi fugit
        quaerat impedit numquam cumque eligendi explicabo, sit, nulla error
        nobis commodi consequatur temporibus debitis suscipit iusto quasi,
        voluptatum accusamus.
      </p>
    </div>
  </section>
  <section>
    <div class="related-product-title"><h1>Related Products</h1></div>
    <div class="related-products">
      <div class="related-product-card">
        <a href="#">
          <div class="related-product-img">
            <img src="/assets/images/CHEDT1.png" alt="" />
          </div>
          <h2>CHEDT</h2>
          <p>$450.000</p>
        </a>
        <a href="#"><button>Add to cart</button></a>
      </div>
      <div class="related-product-card">
        <a href="#">
          <div class="related-product-img">
            <img src="/assets/images/CHEDT1.png" alt="" />
          </div>
          <h2>CHEDT</h2>
          <p>$450.000</p>
        </a>
        <a href="#"><button>Add to cart</button></a>
      </div>
      <div class="related-product-card">
        <a href="#">
          <div class="related-product-img">
            <img src="/assets/images/CHEDT1.png" alt="" />
          </div>
          <h2>CHEDT</h2>
          <p>$450.000</p>
        </a>
        <a href="#"><button>Add to cart</button></a>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
