<main>
  <section class="product-detail">
    <div class="product-gallery">
      <div class="principal-image">
        <img
          [src]="perfume()?.images?.[0]?.imgUrl || '/assets/images/loader.png'"
          alt=""
        />
      </div>
    </div>
    <div class="product-parameters">
      <div class="product-summary">
        <h1>{{ perfume()?.name }}</h1>
        <span>{{ perfume()?.brand }}</span>
        <p>
          {{ perfume()?.description }}
        </p>
      </div>
      <div class="price">
        <span>{{
          perfume()?.price | currency : "$" : "symbol" : "1.0-0"
        }}</span>
      </div>
      <div class="cart">
        <button type="button" class="add-to-cart" (click)="addToCart()">
          Add to cart
        </button>
      </div>
      <div class="product-tags">
        <div>
          <p>SKU: {{ perfume()?._id }}</p>
        </div>
        <div>
          <p>Category: {{perfume()?.category?.[0]?.name || 'N/A'}}</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="product-description">
      <h1>── Description</h1>
      <ul>
        <li>Volume: {{ perfume()?.volume }} ml</li>
        <li>Essence: {{ perfume()?.essence }}</li>
        <li>Durability: {{ perfume()?.durability }}</li>
        <li>Concentration: {{ perfume()?.concentration }} %</li>
      </ul>
    </div>
  </section>
  <section class="products-list">
    <div><h1>── Related Products</h1></div>
    <div class="product-card">
      @for (perfume of relatedPerfumes(); track $index) {
      <app-product-card [perfume]="perfume"></app-product-card>
      }
    </div>
  </section>
</main>
