.product {
  display: flex;
  justify-content: space-evenly;
  margin: 3vw 0 7vw 0;
  align-items: center;
}

a {
  font-size: 1.3vw;
}

.product-card {
  width: min-content;
  text-align: center;
}

.product-img img {
  width: 15vw;
}

.product-card button {
  cursor: pointer;
  background-color: var(--main-txt-color);
  color: white;
  padding: 1vw;
  border: none;
  margin-top: 15px;
  font-size: 1.3vw;
  font-weight: 200;
}

@media (max-width: 840px) {
  .product-card button {
    margin-top: 0.2vw;
  }
}