a {
  font-size: var(--txt-font-size);
  height: fit-content;
}

.product-card {
  text-align: center;
  margin: 3vw 0;
}

.product-img img {
  min-width: 300px;
  max-width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.product-card button {
  cursor: pointer;
  background-color: var(--main-txt-color);
  color: white;
  padding: 1vw;
  border: none;
  margin-top: 20px;
  font-size: var(--txt-font-size);
  font-weight: 200;
}

@media (max-width: 840px) {
  .product-card button {
    margin-top: 0.2vw;
  }
  .product-card {
    margin: 5vw 0;
  }
}