<div class="product">
  <div class="product-card">
    <a href="#">
      <div class="product-img">
        <img src="/assets/images/CHEDT1.png" alt="" />
      </div>
      <h2>CHEDT</h2>
      <p>$450.000</p>
    </a>
    <a href="#"><button>Add to cart</button></a>
  </div>
  <div class="product-card">
    <a href="#">
      <div class="product-img">
        <img src="/assets/images/CHEDT1.png" alt="" />
      </div>
      <h2>CHEDT</h2>
      <p>$450.000</p>
    </a>
    <a href="#"><button>Add to cart</button></a>
  </div>
  <div class="product-card">
    <a href="#">
      <div class="product-img">
        <img src="/assets/images/CHEDT1.png" alt="" />
      </div>
      <h2>CHEDT</h2>
      <p>$450.000</p>
    </a>
    <a href="#"><button>Add to cart</button></a>
  </div>
</div>
