.product {
  display: flex;
  justify-content: space-evenly;
  margin: 3vw 0 7vw 0;
  align-items: center;
}

a {
  font-size: var(--txt-font-size);
}

.product-card {
  text-align: center;
}

.product-img img {
  width: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.product-card button {
  cursor: pointer;
  background-color: var(--main-txt-color);
  color: white;
  padding: 1vw;
  border: none;
  margin-top: 15px;
  font-size: var(--txt-font-size);
  font-weight: 200;
}

@media (max-width: 840px) {
  .product {
    flex-direction: column;
  }
  .product-card button {
    margin-top: 0.2vw;
  }
}