<main>
  <section class="login">
      <h1>Login</h1>
      <p>Don't have an account? <a href="#">Create an account here</a></p>
      <form method="post">
        <fieldset>
          <label for="username"
            >Enter Username:
            <input id="username" name="username" type="text" placeholder="Enter Username" required
          /></label>
          <label for="password"
            >Enter Password:
            <input id="password" name="password" type="text" placeholder="Enter Password" required
          /></label>
          <input id="submit" type="submit" value="Login" />
        </fieldset>
      </form>
  </section>
</main>
