<main>
    <section class="login">
        <h1>Create an account</h1>
        <p>Already have an account? <a routerLink="/login">Sign up</a></p>
        <form [formGroup]="registerForm" (submit)="register()">
            <fieldset>
                <label for="email">Email:
                    <input id="email" name="email" type="text" placeholder="Email" formControlName="email" required /></label>
                <label for="name">Name:
                    <input id="name" name="name" type="text" placeholder="Name" formControlName="name" required /></label>
                <label for="lastname">Lastname:
                    <input id="lastname" name="lastname" type="text" placeholder="Lastname" formControlName="lastname" required /></label>
                <div class="document-field">
                    <label for="document">Document:
                    <input id="document" name="document" type="number" placeholder="Document" formControlName="document" required /></label>
                <label for="document-type">Type:
                    <select id="document-type" name="document-type" formControlName="documentType">
                        <option value="CC">CC</option>
                        <option value="CE">CE</option>
                        <option value="Passport">Passport</option>
                    </select>
                </label></div>
                <label for="cellphone">Cellphone:
                    <input id="cellphone" name="cellphone" type="number" placeholder="Cellphone" formControlName="cellphone" required /></label>
                <label for="password">Password:
                    <input id="password" name="password" type="text" placeholder="Password" formControlName="password" required /></label>
                <label for="repeat-password">Repeat Password:
                    <input id="repeat-password" name="repeat-password" type="text" placeholder="Repeat Password" required /></label>
                    <input id="submit" type="submit" value="Register" />
            </fieldset>
        </form>
    </section>
</main>
