main {
  margin-top: 68px;
}

.home-banner {
  display: flex;
  max-width: 100%;
  height: 50vw;
  background-image: url(/assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-banner .wrap {
  max-width: 1000px;
  margin: auto 10vw;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home-banner .wrap .box {
  flex-basis: 50%;
  color: white;
  text-align: left;
  font-size: 3vw;
  letter-spacing: 1px;
  align-self: center;
}

.home-banner .wrap .box h1 {
  color: white;
  font-weight: 400;
  padding: 20px 0;
}

.home-banner .wrap .box p {
  color: white;
}

.banner-button button {
  margin-top: 30px;
  padding: 1vw 0;
  padding-left: 20px;
  background-color: var(--main-txt-color);
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
  text-align: center;
  color: white;
  transition: all 0.5s;
  width: 40%;
}

.banner-button button:after {
  content: "»";
  opacity: 0;
  transition: 0.5s;
  padding-left: 10px;
}

.banner-button button:hover {
  padding-right: 15px;
  padding-left: 8px;
}

.banner-button button:hover:after {
  opacity: 1;
  right: 10px;
}

.categories {
  margin: 3% auto;
  display: flex;
  max-width: 1200px;
  gap: 24px;
}

.horizontal-images {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 60%;
}

.vertical-image {
  background-image: url(/assets/images/perfumes.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 50%;
  height: 40vw;
}

.txt {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: flex-end;
  align-items: baseline;
  padding: 5%;
}

.txt h3 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--main-txt-color);
}

.txt button,
.discount-card button {
  cursor: pointer;
  background-color: var(--main-txt-color);
  color: white;
  padding: 10px;
  border: none;
  margin-top: 15px;
  font-size: var(--txt-font-size);
  font-weight: 200;
}

.top-image {
  background-image: url(/assets/images/perfume-men.jpg);
}

.bottom-image {
  background-image: url(/assets/images/perfume-women.jpg);
}

.top-image,
.bottom-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.brands {
  background-color: var(--main-bg-color);
}

.brands-txt h1 {
  font-size: var(--titles-font-size);
  padding: 2% 0;
  margin: 0 auto;
  max-width: 1200px;
}

.brands-logo {
  display: flex;
  justify-content: space-evenly;
  padding: 3vw 0 5vw 0;
  margin: 0 auto;
  max-width: 1200px;
}

.brands-logo img {
  width: 8%;
}

.products-discount-txt h1 {
  font-size: var(--titles-font-size);
}

.products-discount {
  max-width: 1200px;
  margin: 3% auto;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1350px) {
  .categories,
  .products-discount,
  .brands-txt h1,
  .brands-logo {
    max-width: 1000px;
  }
}

@media (max-width: 1050px) {
  .categories,
  .products-discount,
  .brands-txt h1,
  .brands-logo {
    max-width: 800px;
  }
}

@media (max-width: 844px) {
  main {
    margin-top: 75px;
  }
  .categories {
    max-width: 600px;
    flex-direction: column;
    align-items: center;
  }
  .txt button,
  .discount-card button {
    padding: 5px;
  }
  .products-discount,
  .brands-txt h1,
  .brands-logo {
    max-width: 600px;
  }
  .vertical-image {
    width: 60%;
  }
  .top-image,
  .bottom-image {
    height: 40vw;
  }
  .product-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 620px) {
  main {
    margin-top: 64px;
  }
  .categories,
  .products-discount,
  .brands-txt h1,
  .brands-logo {
    max-width: 350px;
  }
}
