<main>
  <section class="home-banner">
    <div class="wrap">
      <div class="box">
        <h1>Perfume is the art</h1>
        <p>that makes memory speak</p>
        <div class="banner-button">
          <a routerLink="/productsList"><button>Shop now!</button></a>
        </div>
      </div>
    </div>
  </section>
  <section class="categories">
    <div class="vertical-image">
      <div class="txt">
        <h3>New collection</h3>
        <button>Shop now</button>
      </div>
    </div>
    <div class="horizontal-images">
      <div class="top-image">
        <div class="txt">
          <h3>For him</h3>
          <button>Shop now</button>
        </div>
      </div>
      <div class="bottom-image">
        <div class="txt">
          <h3>For her</h3>
          <button>Shop now</button>
        </div>
      </div>
    </div>
  </section>
  <section class="brands">
    <div class="brands-txt"><h1>── Most popular brands</h1></div>
    <div class="brands-logo">
      <img src="/assets/images/logo1.png" alt="" />
      <img src="/assets/images/logo2.png" alt="" />
      <img src="/assets/images/logo3.png" alt="" />
      <img src="/assets/images/logo4.png" alt="" />
    </div>
  </section>
  <section class="products-discount">
    <div class="products-discount-txt"><h1>── Products on sale</h1></div>
    <div class="product-card">
      @for (perfume of perfumesOnSale(); track perfume._id) {
        <a [routerLink]="['/perfume/', perfume._id]">
        <app-product-card [perfume]="perfume"></app-product-card></a>
      }
    </div>
  </section>
</main>
