main {
    margin-top: 140px;
}

.product-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.products-list h1 {
    font-size: 2.2rem;
    margin: 0 auto;
}

.products-list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 844px) {
    main {
        margin-top: 100px;
    }
    .products-list {
        max-width: 600px;
    }
    .product-card {
        grid-template-columns: 1fr;
        margin: 3vw 0;
      }
}

@media (max-width: 620px) {
    .products-list {
        max-width: 350px;
    }
}


