@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --main-bg-color: #ebd8d0;
  --main-txt-color: #403f3f;
  --titles-font-size: 2.2rem;
  --txt-font-size: 1rem;
}

li, a, h2, h3, button, p, h1, label, input, span, option, select {
    font-family: "Outfit", sans-serif;
}

li, a, h2, h3, button, p, h1, span, label, option, select {
  color: var(--main-txt-color);
}

li,
a {
  text-decoration: none;
  font-size: 1.1rem;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

li,
a:hover {
  color: #0e0e0e;
}

