main {
    max-width: 1200px;
    margin: 68px auto 0 auto;
    padding: 5% 0;
}

.checkout {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

h2 {
    padding: 2vw 0;
}

.cart-products {
    width: 35%;
}

.billing-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.billing-info fieldset {
    padding: 15px;
    border: 1px solid var(--main-txt-color);
    border-radius: 5px;
}

label {
    display: block;
    padding-bottom: 10px;
}

input {
    width: 100%;
    min-height: 3em;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #cacaca;
}

#submit {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-size: var(--txt-font-size);
    color: white;
    background-color: var(--main-txt-color);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}