<main>
  <div class="title"><h1>── About us</h1></div>
  <section>
    <h1>Who we are</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis culpa
      hic nam provident praesentium labore consequatur at
    </p>
  </section>
  <section class="about-store">
    <div>
      <i class="fa-solid fa-earth-americas"></i>
      <h2>GLOBAL SHIPPING</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div>
        <i class="fa-solid fa-lock"></i>
        <h2>SECURE PAYMENTS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div>
        <i class="fa-solid fa-star"></i>
        <h2>BEST QUALITY</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </section>
</main>

